@tailwind base;
@tailwind components;
@tailwind utilities;

/* 滚动槽 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #0000000f;
  -webkit-box-shadow: inset 0 0 5px #00000014;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #0000001f;
  -webkit-box-shadow: inset 0 0 10px #00000033;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-btn-primary:disabled {
  background-color: #0000000a !important;
}
